.products-page {
  display: flex;
}

.filter-sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
}

.filter-sidebar h3 {
  margin-bottom: 10px;
}

.filter-sidebar select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.products-container {
  flex: 1;
  padding: 20px;
}

.products-container .heading {
  color: rgb(53, 53, 67);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  font-family: "Mier book";
  text-align: left;
  margin: 0px;
  padding: 0px 0px 28px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.products-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.products-card:hover {
  transform: scale(1.05);
}

.products-info {
  text-align: left;
  width: 100%;
}

.products-info h2 {
  font-size: 14px;
  color: gray;
}

.products-info p {
  font-size: 17px;
  margin: 5px 0;
  font-weight: bold;
}

.onward {
  font-size: 12px;
  font-weight: normal;
  color: gray;
}

.products-info .rupee-symbol {
  font-weight: bold;
  font-size: 18px;
}

.free {
  margin: 1rem;
}

.deliver {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 12px;
  font-weight: normal;
}
