* {
    margin: 0;
    padding: 0;
    font-family: "Mier book";
    box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f06161;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 20px;
}

.navbar-left li {
  list-style: none;
}

.navbar-left li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-right li {
  margin-left: 20px;
  font-size: 18px;
}

.navbar-right li a {
  color: #fff;
  text-decoration: none;
}


.profile-menu {
  position: relative;
}

.profile-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: baseline;
}

.profile-button::after {
  content: '▼';
  margin-left: 5px;
  font-size: 0.8em;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  color: #333;
  list-style: none;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 200px;
  z-index: 1000;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
}

.logout-button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.logout-button:hover {
  background-color: #e68900;
}

.profile-button:hover,
.dropdown-menu li a:hover {
  text-decoration: underline;
}
