@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: "Raleway", sans-serif; */
    font-family: "Mier book";
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e84666;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 40px;
    margin-right: 1rem;
  }  

  .navbar-left li {
    list-style: none;
  }
  
  .navbar-left li a {
    text-decoration: none;
    color: antiquewhite;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  
  .navbar-right {
    display: flex;
    list-style: none;
  }
  
  .navbar-right li {
    margin: 0 1rem;
  }
  
  .navbar-right button,
  .navbar-right a {
    text-decoration: none;
    color: antiquewhite;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .logout-button {
    color: antiquewhite;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
  }
  

